@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --body-bg-color: #f5f5f5;
  --grey-color: #444;
  --white-color: #fff;
  --placeholder-color: #d5d5d5;
  --li-complete-color: #b6b6b6;
  --border-color: #e5e5e5;
  --para-color: #b5b5b5;
}

body {
  color: var(--grey-color);
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
 background-image: linear-gradient(-20deg, #fc6076 0%, #ff9a44 100%);
  }

h1 {
  font-size: 10rem;
  text-align: center;
  color: #d5d5d5;
  opacity: 0.7;
}

form {
  max-width: 80%;
  width: 40%;
  margin: auto;
  margin-top: 4rem;
}

.input {
  padding: 1rem 2rem;
  font-size: 1.5rem;
  color: var(--grey-color);
  border: none;
  width: 100%;
  margin: auto;
  border-radius: 10px;
}

.input::placeholder {
  color: var(--placeholder-color);
}

.input:focus{
  outline: var(--h1-color);
}

.todos{
  margin-top: 10px;
}

.todos li {
  background-color: var(--white-color);
  list-style-type: none;
  border-top: 1px solid var(--border-color);
  cursor: pointer;
  font-size: 20px;
  padding: 8px 15px;
  border-radius: 10px;
  margin: 10px 0;
}

.todos li.completed {
  color: var(--li-complete-color);
  text-decoration: line-through;
}

p {
  color: #e5e5e5;
  margin-top: 3rem;
  text-align: center;
  font-size: 18px;
  font-weight: 600;
}

@media screen and (max-width: 500px) {
  form {
    width: 100%;
  }

  h1 {
    font-size: 4rem;
    width: 100%;
    margin: auto;
    text-align: center;
  }

  form {
    width: 100%;
  }
}
