@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --body-color: #b8c6db;
  --white-color: #fff;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: var(--body-color);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  /* overflow: hidden; */
  margin: 0;
}

.quiz-container {
  background-color: var(--white-color);
  border-radius: 10px;
  width: 50%;
  box-shadow: 0 0 10px 2px rgba(100, 100, 100, 0.1);
  /* overflow: hidden; */
}

.quiz-header {
  padding: 60px;
}

h2 {
  text-align: center;
}

ul li {
  list-style-type: none;
  font-size: 20px;
  margin: 15px 0;
}

ul li label {
  cursor: pointer;
}

button {
  background-color: #8344ad;
  color: var(--white-color);
  border: none;
  /* display: block; */
  width: 100%;
  cursor: pointer;
  font-size: 1.1rem;
  padding: 1.3rem;
}

button:hover {
  background-color: #7329d1;
}

button:focus {
  outline: none;
  background-color: #5e3370;
}
