@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&display=swap');

*{
box-sizing: border-box;
padding: 0;
margin: 0;
}

body {
background-color: #000;
color: #fff;
font-family: "Dosis";
height: 100vh;
}

h1 {
  padding: 20px;
  text-align: center;
}

.data {
  max-width: 500px;
  margin: auto;
  counter-reset: counter-name;
}

.user-img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.user {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-info {
  /* width: 40%; */
  display: flex;
  align-items: center;
  /* justify-content: center; */
}

.list-item {
  margin: 30px;
  position: relative;
}

.list-item::before {
  counter-increment: counter-name;
  content: counter(counter-name);
  position: absolute;
  left: -15%;
  top: 15px;
  background-color: navajowhite;
  color: black;
  font-weight: 500;
  border-radius: 5px;
  height: 2em;
  width: 2em;
  display: flex;
  justify-content: center;
  align-items: center;
}

.clock{
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 30px;
}
