@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 100vh;
  background-size: cover;
  background-position: center;
}

.slider-container {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  height: 70vh;
  width: 70vw;
}

.slide.active {
  opacity: 1;
}

.slide {
  opacity: 0;
}

.arrow {
  background-color: transparent;
  border: 2px solid orange;
  padding: 20px;
  color: #fff;
  cursor: pointer;
  font-size: 30px;
}

.arrow:focus {
  outline: none;
}

.left-arrow {
  left: cal(15vw - 65px);
  position: fixed;
  top: 40%;
  left: 8.7%;
  border-right: 0;
}

.right-arrow {
  right: cacl(15vw - 65px);
  position: fixed;
  top: 40%;
  right: 8.7%;
  border-left: 0;
}
