@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --body-bg-color: darksalmon;
  --speed-btn-bg-color: rgba(0, 0, 0, 0.1);
}

body {
  background-color: var(--body-bg-color);
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div {
  position: absolute;
  bottom: 20px;
  background-color: var(--speed-btn-bg-color);
  padding: 10px 20px;
  font-size: 18px;
}

input {
  width: 50px;
  text-align: center;
  font-size: 18px;
  padding: 5px;
  border: none;
  background-color: var(--body-bg-color);
}

input:focus {
  outline: 0;
}
