@import url("https://fonts.googleapis.com/css2?family=Lemonada:wght@300;400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  overflow-x: hidden;
  /* overflow-y: hidden; */
  font-family: "Lemonada", Arial, Helvetica, sans-serif;
}

.btns-main-container {
  font-family: "Lemonada", sans-serif;
  background-image: url(./bg-img-assets/typing-img-btn-bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #fff;
  padding-top: 1rem;
}

.btns-main-container h2 {
  font-size: 2rem;
  padding: 1rem;
}

.level-btns-container {
  padding-top: 2rem;
}

.level-btns-container button {
  padding: 2px 20px;
  width: 140px;
  border-radius: 50px;
  font-size: 1rem;
  text-align: center;
  display: block;
  font-family: inherit;
  border: 0;
  color: #fff;
  font-weight: bold;
  transform: translateY(-5px);
  cursor: pointer;
}

.level-btns-container .btn-container {
  width: 140px;
  border-radius: 50px;
  margin: 1.5rem 0;
  padding: 4px 0;
}

.level-btns-container .btn-container:hover {
  transform: scale(0.98);
}

.level-btns-container button:focus {
  outline: 0;
}

.btn-1-container {
  /* background-image: linear-gradient(to right, #96c93d, #00b09b); */
  background-color: green;
}

.btn-1 {
  background-image: linear-gradient(to right, #96c93d, #00b09b);
}

.btn-2-container {
  background-image: linear-gradient(to right, #f7b733, #fc4a1a);
}

.btn-2 {
  background-image: linear-gradient(to right, #edde5d, #f09819);
}

.btn-3-container {
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}

.btn-3 {
  background-image: linear-gradient(
    to right,
    #f78ca0 0%,
    #f9748f 19%,
    #fd868c 60%,
    #fe9a8b 100%
  );
}

.play-game-btn-container {
  background-image: url(https://en.pimg.jp/049/401/328/1/49401328.jpg);
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
}

.game-button {
  position: relative;
  top: 15%;
  left: 40%;
  cursor: pointer;
  text-decoration: none !important;
  outline: none !important;
  font-family: "Carter One", sans-serif;
  font-size: 20px;
  line-height: 1.5em;
  letter-spacing: 0.1em;
  border: none;
  margin: 15px 15px 30px;
  border-top: 3px solid rgba(255, 255, 255, 0.3);
  color: #fff !important;
  border-radius: 8px;
  padding: 8px 15px 10px;
  background: repeating-linear-gradient(
    45deg,
    #ff4f4c,
    #ff4f4c 5px,
    #ff4643 5px,
    #ff4643 10px
  );
  box-shadow: 0 6px 0 #ae2725, 0 8px 1px 1px rgba(0, 0, 0, 0.3),
    0 10px 0 5px #831614, 0 12px 0 5px #a33634, 0 15px 0 5px #631716,
    0 15px 1px 6px rgba(0, 0, 0, 0.3);
  border-bottom: 3px solid rgba(160, 25, 23, 0.5);
  text-shadow: 2px 2px 1px #d72d21, -2px 2px 1px #d72d21, 2px -2px 1px #d72d21,
    -2px -2px 1px #d72d21, 0px 2px 1px #d72d21, 0px -2px 1px #d72d21,
    0px 4px 1px #930704, 2px 4px 1px #930704, -2px 4px 1px #930704;
}
.game-button.red:hover {
  box-shadow: 0 4px 0 #ae2725, 0 6px 1px 1px rgba(0, 0, 0, 0.3),
    0 8px 0 5px #831614, 0 10px 0 5px #a33634, 0 13px 0 5px #631716,
    0 13px 1px 6px rgba(0, 0, 0, 0.3);
}

.game-button::before {
  content: "";
  height: 10%;
  position: absolute;
  width: 40%;
  background: #fff;
  right: 13%;
  top: -3%;
  border-radius: 99px;
}
.game-button::after {
  content: "";
  height: 10%;
  position: absolute;
  width: 5%;
  background: #fff;
  right: 5%;
  top: -3%;
  border-radius: 99px;
}

.game-button:hover {
  transform: translateY(-3px);
}

.play-game-btn-container h3 {
  /* color: #fff; */
  color: #ff4e50;
  font-size: 2rem;
  text-align: center;
  padding-top: 2rem;
}

.container {
  background-image: url(./bg-img-assets/typing-word-bg-img-jgp.jpg);
  background-size: cover;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  background-repeat: no-repeat;
  position: relative;
  font-weight: bold;
  color: #252525;
  font-family: "Roboto Condensed";
}

.time-container {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 1.3rem;
}

.score-container {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 1.3rem;
}

.input-container {
  background-color: #fff;
  padding: 2rem;
  position: absolute;
  top: 25%;
  border-radius: 10px;
  width: 40%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
  margin: auto;
  text-align: center;
}

.input-container h2 {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  padding: 6px 0;
  font-size: 1.3rem;
  margin-bottom: 2rem;
}

.input-container small {
  font-size: 1.2rem;
}

.text {
  margin-top: 1rem;
  padding: 0.6rem 1rem;
  font-size: 1rem;
  width: 80%;
}

.end-game-container-parent {
  background-image: url(https://i1.wp.com/i.pinimg.com/originals/9e/7b/26/9e7b264d22ec84fd245495d907179ff4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Rubik";
}

.end-game-container {
  background-color: #fff;
  width: 40%;
  margin: auto;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  text-align: center;
  color: #333;
}

.end-game-container h1 {
  padding-top: 2rem;
  font-weight: 600;
}

.end-game-container p {
  padding: 1rem 0;
}

.end-game-container button {
  padding-bottom: 2rem;
  margin-bottom: 3rem;
  width: 130px;
  height: 40px;
  color: #fff;
  border-radius: 5px;
  padding: 10px 25px;
  font-weight: 500;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background: rgb(96, 9, 240);
  background: linear-gradient(
    0deg,
    rgba(96, 9, 240, 1) 0%,
    rgba(129, 5, 240, 1) 100%
  );
  border: none;
}

.end-game-container button::before {
  height: 0%;
  width: 2px;
}
.end-game-container button:hover {
  box-shadow: 4px 4px 6px 0 rgba(255, 255, 255, 0.5),
    -4px -4px 6px 0 rgba(116, 125, 136, 0.5),
    inset -4px -4px 6px 0 rgba(255, 255, 255, 0.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, 0.4);
}
