@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --label-bg-color: #d0d0d0;
  --white-color: #fff;
  --toggle-active-color: #8e44ad;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.toggle-container {
  display: flex;
  align-items: center;
  width: 200px;
  /* margin: auto; */
  margin: 10px 0;
}

.toggle {
  visibility: hidden;
}

h2 {
  margin-bottom: 20px;
}

.label {
  background-color: var(--label-bg-color);
  border-radius: 50px;
  width: 80px;
  height: 40px;
  margin: 0 15px 0;
  position: relative;
}

.toggle:checked + .label {
  background-color: var(--toggle-active-color);
}

.ball {
  background-color: var(--white-color);
  width: 34px;
  height: 34px;
  border-radius: 50%;
  position: absolute;
  top: 3px;
  left: 3px;
  align-items: center;
  display: flex;
  justify-content: center;
  animation: slideOff 0.3s linear forwards;
}

.toggle:checked + .label .ball {
  animation: slideOn 0.3s linear forwards;
}

@keyframes slideOn {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(40px) scale(1);
  }
}

@keyframes slideOff {
  0% {
    transform: translateX(40px) scale(1);
  }
  50% {
    transform: translateX(20px) scale(1.2);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}
