@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200;300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Open+Sans+Condensed:wght@300;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Serif:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --span-color: #5cffe4;
  --main-color: #dcff02;
  --ff-heading: "Bebas Neue";
  --ff-para: "Source Code Pro";
  --para-color: #b3b3b3;
}

body {
  background-color: #000;
  font-family: var(--ff-para);
  font-size: 10px;
  color: #fff;
}

p {
  font-size: 1.1rem;
  color: var(--para-color);
  font-weight: 300;
  line-height: 1.7rem;
  letter-spacing: 1px;
}

/* header section */
.header-nav-links-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
}

.header-left .header-img {
  width: 200px;
}

.header-left {
  flex: 1;
}

.header-right {
  flex: 1.6;
}

.header-links-container {
  display: flex;
  justify-content: space-between;
  font-size: 1.15rem;
  padding-right: 1rem;
  list-style-type: none;
}

.header-links-container li a {
  text-decoration: 0;
  color: inherit;
  font-weight: 300;
  position: relative;
}

.header-links-container li a:hover {
  color: var(--main-color);
}

.header-links-container li a:hover::after {
  content: "/";
  color: var(--main-color);
  position: absolute;
  left: 100%;
}

/* hero section */
.hero-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  max-width: 1250px;
}

.hero-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.hero-section .hero-content h1 {
  font-size: 7rem;
  letter-spacing: 0.6rem;
  text-transform: uppercase;
  font-family: var(--ff-heading);
  font-weight: 400;
  line-height: 7.5rem;
  padding-top: 9%;
}

.hero-section .hero-content p {
  margin-top: 4%;
}

.hero-section .hero-content .btn {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='321' height='71' fill='%23dcff02'%3E%3Cpath d='M319.448 22.848l-1.655-14.734c-.046-.404-.348-1.205-.777-1.984v-.448h-.266c-.51-.813-1.137-1.505-1.717-1.534l-16.51-.841c-3.842-.195-7.652-.551-11.492-.31l-20.196 1.276c-1.26.08-2.553.243-3.816.209-2.354-.063-4.726-.33-7.073-.492-6.165-.43-12.33-.948-18.502-1.29-4.675-.257-9.437-.035-14.122-.04-4.346-.003-8.808-.278-13.144.039l-19.19 1.399c-3.66.267-7.127.449-10.79.39-6.693-.11-13.389-.22-20.085-.328-4.025-.067-8.055.09-12.08.166-5.233.096-10.561.466-15.794.29-5.645-.191-11.33-.915-16.955-1.371-3.798-.306-7.588-.778-11.402-.7-10.448.217-20.891.332-31.323.887-6.166.327-12.331.708-18.5.983-4.64.206-9.314.126-13.96.182-10.883.129-21.745.074-32.63-.016-1.726-.013-3.452-.028-5.178-.043-.027.048-.055.095-.08.142L.69 17.174c-.356 2.917-.832 5.724-.652 8.648.487 7.933 1.123 15.823 1.011 23.766L.848 63.997c-.013.876.654 1.854 1.131 2.576.31.468.93 1.659 1.648 1.668 5.522.066 11.045.132 16.567.2 3.955.047 7.92.2 11.874.047 10.437-.41 20.855-.975 31.303-.907 6.274.04 12.552.023 18.824.124 4.654.076 9.322.479 13.967.726l10.101.539c1.075.057 2.135.173 3.205.066l19.325-1.925c2.03-.202 4.111-.553 6.152-.614 1.581-.045 3.23.182 4.806.274l19.966 1.165c9.214.538 18.518-.18 27.749.046 9.666.237 19.313 1.208 28.986 1.213l20.455.01c3.856.003 7.65-.381 11.492-.691l10.969-.882c2.16-.174 4.358-.471 6.528-.525 1.501-.037 3.035.115 4.534.178l10.85.448c10.85.448 21.672.556 32.533.664l5.103.05c.066.002.084-.065.082-.157.079-7.23-.008-14.477.267-21.704l.585-15.354c.111-2.88-.078-5.51-.402-8.384' fill-rule='evenodd'/%3E%3C/svg%3E");
  background-size: contain;
  background-repeat: no-repeat;
  text-decoration: none;
  color: #000;
  padding: 1.5rem 4.5rem;
  font-size: 1rem;
  font-weight: 600;
  margin-top: 6%;
}

/* why work with us */
.why-work-container {
  padding: 6rem 0 3rem 1.5rem;
  max-width: 1250px;
  width: 93%;
}

.why-work-container h2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-family: var(--ff-heading);
  letter-spacing: 0.5rem;
  font-weight: 400;
}

.why-work-container .content-container {
  display: flex;
  justify-content: space-between;
  padding-top: 5rem;
  width: 100%;
}

.why-work-container .content-container p {
  padding-top: 2rem;
}

.why-work-container .content-container span {
  color: var(--span-color);
}

/* container-cult */
.container-cult {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 4rem;
  width: 93%;
  max-width: 1250px;
}

.container-cult-left {
  padding: 2rem;
}

.container-cult-left h2 {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  text-transform: uppercase;
  font-family: var(--ff-heading);
  line-height: 6rem;
}

.container-cult-left h2 span {
  color: var(--span-color);
}

.container-cult-left p {
  padding-top: 1.5rem;
}

/* matches-made-in-heaven */
.matches-made-in-heaven {
  padding-top: 5rem;
  padding-left: 2rem;
  max-width: 1250px;
}
.matches-made-in-heaven h2 {
  font-size: 5rem;
  text-transform: uppercase;
  font-weight: 300;
  font-family: var(--ff-heading);
  letter-spacing: 0.5rem;
  width: 96%;
  line-height: 5.7rem;
}

.matches-made-in-heaven h2 span {
  color: #a9ff03;
}

.matches-header p {
  width: 65%;
  padding: 2rem 0;
  color: var(--para-color);
}

.matches-made-in-heaven .para-2 {
  padding-top: 1.5rem;
  font-size: 2rem;
  font-style: italic;
  font-weight: 300;
  width: 65%;
  font-family: "IBM Plex Serif", sans-serif;
}

@media screen and (max-width: 600px) {
  body {
    overflow-x: hidden;
  }

  .hero-section {
    flex-direction: column-reverse;
    padding: 0;
  }

  .hero-section .hero-image {
    display: flex;
    justify-content: flex-end;
  }

  .hero-section .hero-image img {
    width: 55%;
    text-align: right;
  }

  .hero-content {
    justify-content: space-between;
    align-items: flex-start;
  }

  .hero-section .hero-content h1 {
    width: 65%;
    letter-spacing: 0.5rem;
    font-size: 3rem;
    padding: 0;
    margin-top: -4rem;
    line-height: 3.5rem;
  }

  .why-work-container h2 {
    font-size: 2.6rem;
    letter-spacing: 0.2rem;
    font-weight: 300;
  }

  .why-work-container .content-container {
    padding-top: 1.5rem;
    width: 100%;
  }

  .why-work-container {
    padding: 6rem 0 3rem 1.5rem;
    width: 100%;
  }
}

/* container */
.steps-process-container {
  display: flex;
  /* flex-wrap: wrap; */
  align-items: center;
  padding: 2rem;
  max-width: 1250px;
  width: 100%;
}

.container-1 {
  flex: 1;
}

.container-2 {
  flex: 1.5;
}

.container-1-step,
.container-2-step {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  font-family: var(--ff-para);
  font-size: 1.1rem;
  color: var(--para-color);
  padding: 3rem 0;
}

.container-1-step p {
  margin: 2rem;
}

.container-2-step p {
  margin: 2rem;
  width: 50%;
}

.matches-made-in-heaven .last-para {
  width: 60%;
}

.matches-made-in-heaven .last-para span {
  color: #c58fff;
}
/* matt section */
.imagine-how-cool h2 {
  font-size: 5rem;
  font-weight: 300;
  letter-spacing: 0.5rem;
  padding: 2rem;
  padding-top: 7rem;
  line-height: 6rem;
  text-transform: uppercase;
  font-family: var(--ff-heading);
}

.dev-matt-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 2rem;
  width: 100%;
}

.dev-matt-intro .matt-user {
  flex: 0.3;
}

.dev-matt-intro .matt-user p {
  color: #c58fff;
  padding-top: 1rem;
}

.dev-matt-intro .user-info p {
  padding: 0.7rem;
  width: 80%;
  color: #fff;
}

.dev-matt-intro .user-info {
  flex: 1;
}

.infobox {
  background-image: url("data:image/svg+xml;charset=utf-8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='490' height='570' fill='%23c58fff'%3E%3Cpath fill-rule='evenodd' d='M487.594 502.54c-.74-8.321-1.001-16.629-1.33-24.99-.187-4.753-.637-9.604-.566-14.364.05-3.296.6-6.665.915-9.939l1.792-18.635c.248-2.568.404-4.646.186-7.192l-1.53-17.906c-.339-3.948-.957-8.01-1.026-11.98-.069-4.12.438-8.361.652-12.47l.923-17.679c.459-8.822-.252-17.813-.475-26.64-.414-16.474-.352-33.099.82-49.527l1.355-19.045c.187-2.61.431-4.917.105-7.487l-2.21-17.447c-.542-4.277-1.428-8.685-1.648-13.002-.192-3.763.183-7.68.276-11.442l.45-18.092c.22-8.768.664-17.532 1.021-26.294.67-16.478 1.428-33.089.761-49.57-.254-6.306-.51-12.613-.766-18.92-.11-2.685-.355-5.357-.112-8.034l1.54-16.907c.417-4.583 1.207-9.335 1.27-13.946.045-3.394-.6-6.967-.908-10.337l-1.67-18.319c-.771-8.457-.045-17.054.181-25.542l.305-11.507c.042-1.619-1.483-1.826-2.526-1.74l-25.874 2.136c-.587.05-1.187.058-1.771.147l-.024.004c-1.247-.156-2.534-.152-3.78-.237l-16.287-1.114c-7.114-.486-14.216-1.085-21.323-1.688-4.446-.376-8.89-.803-13.343-1.13-2.761-.206-5.545.463-8.282.852-5.408.77-10.816 1.54-16.224 2.308-1.486.212-3.09.265-4.564.629-.378-.092-.87-.076-1.182-.126-8.722-1.428-17.505-3.413-26.277-4.3-3.253-.327-6.788.603-10.014.973l-15.78 1.806c-7.381.843-14.843.72-22.254.94l-6.917.203c-.455.014-.913.024-1.37.04-1.228-.408-2.757-.348-4.01-.512-2.687-.353-5.374-.704-8.06-1.055-4.75-.625-9.5-1.247-14.248-1.87-2.54-.333-5.02.009-7.563.224-7.875.665-15.797 1.705-23.69 1.954-8.916.282-17.887.104-26.792.702l-.03.002-1.053-.047-6.634-.309-15.893-.733c-7.598-.352-15.163.735-22.74 1.412-2.42.217-4.84.434-7.258.649-.664.06-1.333.1-1.996.179l-.076.008c-1.018-.241-2.293-.101-3.272-.17-2.567-.174-5.134-.35-7.702-.527-7.48-.514-14.914-1.294-22.402-.945-7.963.37-15.93.866-23.898 1.1-8.807.258-17.644.187-26.443.667-.277-.155-.964-.139-1.21-.179l-6.432-1.09c-5.293-.898-10.586-1.794-15.88-2.69-2.525-.429-4.741-.834-7.275-.494-5.061.678-10.123 1.355-15.185 2.036L10.3 4.692c-2.66.356-7.98 2.82-8.238 6.626L.053 41.108c-.179 2.638.135 5.166.358 7.804.52 6.228 1.043 12.457 1.562 18.685.248 2.946.672 5.945.669 8.908-.008 5.284-.208 10.574-.312 15.856-.16 8.218-.33 16.406-.705 24.615-.4 8.812-1.068 17.66-1.112 26.49-.051 10.097-.11 20.197-.155 30.296-.045 10.05-.075 20.103-.115 30.155-.032 8.79.602 17.612.957 26.392.665 16.422.695 32.865 1.362 49.287.357 8.856 1.263 17.911.936 26.777-.378 10.213-1.05 20.47-1.134 30.69-.081 9.828.49 19.715.735 29.535.217 8.669-.223 17.374-.407 26.04-.351 16.452-.658 32.925-1.445 49.357-.312 6.462-.62 12.924-.93 19.388-.125 2.602-.387 5.214-.216 7.816.68 10.347 1.557 20.704 2.04 31.068.45 9.688.412 19.44.613 29.14.177 8.551-.82 17.146-1.386 25.663l-.77 11.506c-.111 1.676 1.546 1.745 2.528 1.74 8.658-.046 17.315-.092 25.974-.14 7.42-.038 14.855-.927 22.259-1.483l6.636-.498c.484-.036 1.037 0 1.514-.113l.038-.012c4.064.21 8.133.33 12.2.496 7.303.297 14.589.633 21.897.633 16.647 0 33.274-.148 49.917-.623 15.627-.449 31.202-1.055 46.833-1.143 6.98-.037 13.942.043 20.92.185l14.947.301.606.013.25.036c1.653.225 3.33.31 4.99.462 5.533.514 11.067 1.026 16.602 1.539 2.582.238 5.174.61 7.768.542 8.931-.234 17.86-.64 26.793-.95 15.453-.532 30.9-1.043 46.349-1.738 6.999-.314 13.897-.394 20.901-.297 5.057.068 10.114.138 15.17.208l1.044.014.051.016c1.49.369 3.145.343 4.661.508 5.456.595 10.91 1.193 16.364 1.788 2.72.297 5.591.94 8.326.683 4.403-.418 8.803-1.158 13.19-1.734 4.485-.591 9.04-.957 13.499-1.774-.16-.005-.299-.035-.327-.121.014.041.21.075.436.1.73-.128.455-.023.098.01.285.03.586.047.633.054l5.8.817 16.182 2.282c2.484.351 4.86.837 7.355.52l14.789-1.881c3.39-.432 6.779-.862 10.167-1.295 1.76-.223 3.636-1.025 5.202-2.254 1.478-1.082 2.82-2.565 3.038-4.371l3.526-29.462c.32-2.666-.204-5.414-.44-8.077l-1.69-19.018'/%3E%3C/svg%3E")
    50% / contain no-repeat;
  /* width: 45%; */
  width: 490px;
  height: 570px;
}
