@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: o;
  margin: o;
  --black-color: #000;
  --color-charcoal: #333333;
  --color-slate: #727272;
  --color-white: #fff;
  --orange-color: orange;
  --indigo-color: indigo;
}

.wrapper {
  width: 65vh;
  font-family: "Open+Sans", Arial, Helvetica, sans-serif;
  height: 95vh;
  margin: auto;
  background-color: var(--black-color);
  color: var(--color-white);
  border-radius: 15px;
  font-size: 45px;
}

.calc-screen {
  text-align: right;
  padding: 45px 10px 0 0;
  font-size: 65px;
  /* display: flex;
  flex-wrap: wrap; */
}

.calc-btns-container {
  display: flex;
  color: var(--color-white);
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.calc-btn-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  margin-bottom: 10px;
}

.row-1-btn {
  background-color: var(--color-slate);
  color: var(--black-color);
}

button {
  background-color: var(--color-charcoal);
  border: none;
  width: 55px;
  /* width: 22%; */
  height: 55px;
  border-radius: 50px;
  font-size: 20px;
  color: var(--color-white);
}

button:focus {
  outline: none;
}

button:hover {
  background-color: var(--indigo-color);
}

.calc-btn-orange {
  background-color: var(--orange-color);
}

.double-zero-btn {
  /* width: 116px; */
  width: 47%;
  height: 50px;
}

.dot-btn {
  width: 55px;
  height: 55px;
}

@media screen and (max-width: 420px) {
  .calc-btns-container {
    height: 70%;
  }
}
