@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --main-heading-color: #ff9a00;
}

body {
  font-family: "Rubik", Arial, Helvetica, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* background-image: linear-gradient(to top, #ff0844 0%, #ffb199 100%); */
  background-image: linear-gradient(to top, #e8198b 0%, #c7eafd 100%);
}

.indian-currency {
  font-size: 7rem;
  width: 137px;
  height: 137px;
  border: 5px solid #29323c;
  text-align: center;
  padding-top: 1rem;
  color: #29323c;
  border-radius: 50%;
}

.main-heading {
  text-transform: capitalize;
  font-size: 1.8rem;
  font-weight: 500;
  padding: 0.6rem;
  color: linear-gradient(to right, #434343 0%, black 100%);
}

.currency {
  border: 2px solid #333;
  width: 450px;
  padding: 1.1rem;
  margin-top: 1rem;
}
.swap-rate-container {
  text-align: center;
}

.swap-btn-icon {
  width: 65px;
  height: 65px;
  margin-top: 1rem;
}

.rate {
  font-weight: 600;
  color: #29323c;
  font-size: 1.2rem;
}

#currency-one,
#currency-two,
#amount-one,
#amount-two {
  border: 0;
  font-size: 1.1rem;
  color: #333;
  font-weight: 600;
}

.currency-value {
  text-align: right;
  margin-left: 25%;
}

.currency-value::placeholder {
  color: #333;
  font-size: 1.4rem;
}

input:focus,
select:focus {
  outline: none;
}

/* select option {
} */

input {
  background-color: transparent;
}
select {
  background-color: transparent;
}

@media screen and(max-width: 500px) {
  body {
    justify-content: flex-start;
  }
  .main-heading {
    font-size: 20px;
    padding: 0;
    width: 100vw;
  }
  .currency {
    border: 2px solid var(--main-heading-color);
    width: 250px;
    padding: 0.3rem;
    margin-top: 1rem;
  }
}
