@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,400;0,500;0,600;0,700;0,800;1,300&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --key-bg-color: #eee;
  --body-bg-color: #e1e1e1;
  --text-color: #555;
}

body {
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.key {
  background-color: var(--key-bg-color);
  border: 1px solid #999;
  font-size: 20px;
  padding: 20px;
  font-weight: bold;
  display: inline-block;
  text-align: center;
  position: relative;
  margin: 10px;
  min-width: 150px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.key small {
  position: absolute;
  top: -24px;
  color: var(--text-color);
  left: 0;
  font-size: 14px;
  width: 100%;
  text-align: center;
}
