@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@200;300;400;500&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: "Mulish", Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#9796f0, #fbc7d4);
}

.container {
  display: flex;
  flex-wrap: nowrap;
  width: 95%;
  margin: auto;
  height: 100vh;
}

.panel {
  flex: 0.08;
  height: 300px;
  margin: auto;
  border-radius: 25px;
  transition: flex 0.5s;
  margin-right: 30px;
  position: relative;
}
.panel.active {
  flex: 0.8;
}

h3 {
  position: absolute;
  color: whitesmoke;
  bottom: 15px;
  left: 8px;
  font-weight: 500;
  max-width: 150px;
  font-size: medium;
}

h3:hover {
  background-color: black;
  border-radius: 5px;
  padding: 5px;
}

.img-1 {
  background-image: url(https://images.unsplash.com/photo-1610117942061-8959cf019daa?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1352&q=80);
  background-size: cover;
  background-position: center;
}

.img-2 {
  background-image: url(https://images.unsplash.com/photo-1602230349009-82f740989e4c?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1227&q=80);
  background-size: cover;
  background-position: center;
}

.img-3 {
  background-image: url(https://images.unsplash.com/photo-1617516202907-ff75846e6667?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=628&q=80);
  background-position: center;
  background-size: cover;
}

.img-4 {
  background-image: url(https://images.unsplash.com/photo-1586023546861-cd6c3332607c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=632&q=80);
  background-position: center;
  background-size: cover;
}

.img-5 {
  background-image: url(https://images.unsplash.com/photo-1544616751-eea58efccec4?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=697&q=80);
  background-position: center;
  background-size: cover;
}

.img-6 {
  background-image: url(https://images.unsplash.com/photo-1606298855672-3efb63017be8?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-position: center;
  background-size: cover;
}

.img-7 {
  background-image: url(https://images.unsplash.com/photo-1612810436541-336b73fbcf9f?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=667&q=80);
  background-position: center;
  background-size: cover;
}
