body {
  /* background-color: darkorchid; */
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow-x: hidden;
}

.subheading {
  text-align: center;
}
.main {
  background-color: #eee;
}

.main-image {
  text-align: center;
  margin-bottom: 30px;
  background-color: white;
  padding: 5px;
  width: 100%;
}

.main-image img {
  width: 100%;
}

.Norman-time-line {
  text-align: center;
}

.wikipedia-links {
  background-color: thistle;
  text-align: center;
}

a:hover {
  color: red;
}

.time-line-lists li {
  padding: 10px;
  color: #333;
  width: 100%;
  margin: auto;
}

.Norman-timeline-container {
  width: 70%;
  margin: auto;
}

@media screen and (max-width: 500px) {
  .Norman-timeline-container {
    width: 100%;
  }

  .Norman-time-line {
    width: 100%;
    font-size: 10px;
  }
  .wikipedia-links {
    font-size: 12px;
  }

  .time-line-lists li {
    width: 100%;
    padding: 5px 0;
  }

  .main-img {
    padding: 5px 0;
  }
}
