* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

h1 {
    text-align: center;
    text-transform: uppercase;
    font-family: 'Bree Serif', serif;
    background-color: linear-gradient(135deg, red, blue);
    margin: 20px;
}

div {
    border: 5px solid teal;
    font-weight: 600;
    font-size: 14px;
    padding: 10px;
    margin: 2px;
    box-sizing: border-box;
  }

#parent-container {

}

.sub-container-1.absolute {
    position: absolute;
    top: 5px;
}

#relative {
    position: relative;
}
#fixed {
    position: fixed;
    bottom: 0;
    right: 0;
}
.b {
 position: relative;
}

.f {
    position: absolute;
}