body {
    background-color: brown;
    margin: 130px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 20px;
    border-radius: 5px;
}

.type {
    text-align: center;
}

.style {
    background-color: lightcoral;
    padding-right: 60px;
}



.box1 {
    width: 100px;
    text-align: center;
}

.text-input {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    outline: none;
    border: none;
}

.form-option {
    display: block;
    margin-bottom: 10px;
}

.margin {
margin-right: 10px;
}


@media screen and (max-width: 480px) {
    body {
        margin: 5px;
    }

    .style {
        padding-right: 30px;
    }
}