@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --left-bg-color: rgba(87, 84, 236, 0.7);
  --right-bg-color: rgba(43, 43, 43, 0.8);
  --left-btn-hover-color: rgba(87, 84, 236, 1);
  --right-btn-hover-color: rgba(28, 122, 28, 1);
  --hover-width: 75%;
  --other-width: 25%;
}

body {
    font-family: "Roboto", Arial, Helvetica, sans-serif;
    text-align: center;
    height: 100vh;
}

.container {
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
}


.split {
  transition: all 1s ease-in-out;
}

.split-left {
    background: url(https://images.unsplash.com/photo-1550828486-68812fa3f966?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

.split-right {
    background: url(https://images.unsplash.com/photo-1606145797958-2aa69009f500?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80);
    background-repeat: no-repeat;
    background-size: cover;
    flex: 1;
}

h1 {
    font-size: 60px;
    color: whitesmoke;
    margin: auto;
    margin-top: 25%;
}

.btn {
    width: 20%px;
    padding: 24px 90px;
    border-radius: 1px;
    border: 3.5px solid white;
    color: white;
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    text-decoration: none;
    /* transform: translateX(-50deg); */
} 

.split-left .btn:hover {
 background-color: var(--left-btn-hover-color);
}

.split-right .btn:hover {
    background-color: var(--right-btn-hover-color);
}

.hover-left .split-left {
  flex:2.3;
  }
  
  .hover-right .split-right {
    flex: 2.3;
  }

  