@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

body {
  font-family: "Oswald", Arial, Helvetica, sans-serif;
  text-align: center;
}

h3 {
  margin-top: 20px;
  text-align: center;
}

.fa-heart {
  color: red;
}

small {
  display: block;
  text-align: center;
}

.love-me {
  background-image: url(./bg-image.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 440px;
  width: 300px;
  max-width: 100%;
  margin: auto;
  cursor: pointer;
  position: relative;
  margin-top: 15px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.love-me .fa-heart {
  position: absolute;
  animation: grow 0.6s linear;
  transform: translate(-50%, -50%) scale(0);
}

@keyframes grow {
  to {
    transform: translate(-50%, -50%) scale(10);
    opacity: 0;
  }
}
