@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --text-color: #2f2d2d;
  --text-second-color: #434343;
  --sky-blue-color: #7796fe;
  --orange-color: #ff865b;
  --violet-color: #8937dc;
  --green-color: #7cca84;
  --blue-color: #130242;
  --table-text-color: #544837;
  --hero-btn-color: #4a4edd;
  --header-btn-color: #7f83ff;
  --white-color: #fff;
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
  color: var(--text-color);
  overflow-x: hidden;
}
/* header section*/
.header {
  display: flex;
  justify-content: space-between;
  padding: 4rem 0;
  align-items: center;
  width: 85%;
  margin: auto;
}

.header-logo {
  width: 150px;
  margin-right: 10%;
}

.header-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex: 0.22;
  min-width: 240px;
}

.header-right a {
  font-size: 1.7rem;
  text-decoration: none;
  color: inherit;
  font-weight: 500;
}
.header-right a:hover {
  text-decoration: underline;
}
.header-right button {
  font-size: 1.7rem;
  color: var(--white-color);
  background-color: var(--header-btn-color);
  border: 0;
  border-radius: 50px;
  width: 120px;
  height: 40px;
  cursor: pointer;
}
.header-right button:hover {
background-color: var(--hero-btn-color);
}

/* hero section */
.hero-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70vh;
 }

.hero-section .hero-section-title {
  width: 60%;
  margin: auto;
  min-width: 400px;
  text-align: center;
}

.hero-section h1 {
  font-size: 4rem;
  text-transform: capitalize;
}

.hero-section p {
  font-size: 2.5rem;
  padding-top: 2rem;
}

.hero-section .hero-btns {
  margin-top: 3rem;
}

.hero-btns button {
  padding: 1.1rem 0;;
  width: 125px;
  border-radius: 5px;
  border: none;
  font-size: 2rem;
  background-color: var(--hero-btn-color); 
  color: var(--white-color);
  margin: 1.5rem;
  cursor: pointer;
}
.hero-btns button:hover {
  opacity: 0.8;
}
.hero-img-container {
  overflow-x: hidden;
}
.hero-img {
  width: 110vw;
}

/* container */

.container {
  margin: 12rem 0;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: center; */
  /* align-items: center; */
  }

.container h3 {
  text-align: center;
  font-size: 3.5rem;
  font-weight: 600;
  margin-bottom: 3rem;
 }

.container .container-links {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 0;
}

.container-links .links {
  display: flex;
  align-items: center;
  justify-content: center;
}

.container-links a {
  font-size: 2rem;
  color: var(--text-color);
  font-weight: 500;
  text-decoration: none;
}

.container-links img {
  border-radius: 50%;
  width: 45px;
  height: 45px;
  padding: 1rem;
  margin-right: 1rem;
}

.container-links .post-links,
.container-links .applied-links,
.container-links .assigned-links{
  flex: 0.25;
}

.container-links .post-links img {
  background-color: var(--sky-blue-color);
}

.container-links .applied-links img {
  background-color: var(--orange-color);
  opacity: 0.2;
  margin-left: 2rem;
}

.container-links .assigned-links img {
  background-color: var(--green-color);
  opacity: 0.2;
  margin-left: 2rem;
}


.amazing-rectangle-main-container {
  display: flex;
  flex-wrap: wrap;
  padding-top: 1rem;
  transform: translateX(10%);
}

.amazing-rectangle-main-container .amazing-rectangle {
  background-color: rgba(119, 150, 254, 0.97);
  color: var(--white-color);
  width: 50%;
  min-width: 400px;
  max-height: 60vh;
  margin: 0 auto;
  border-radius: 15px;
  padding: 3rem 0 0 0;
}

.amazing-rectangle-main-container .amazing-rectangle h3 {
  text-align: inherit;
  text-transform: capitalize;
  font-size: 2.5rem;
  font-weight: 500;
  margin-left: 10%;
  margin-top: 2rem;
  margin-bottom: 5px;
}

.amazing-rectangle-main-container .amazing-rectangle p {
  width: 70%;
  margin-left: 10%;
  line-height: 3rem;
  margin-bottom: 1rem;
  font-size: 1.6rem;
  letter-spacing: 1px
}

.amazing-rectangle-main-container img {
  flex: 0.5;
  width: 50%;
  transform: scale(1.2);
  margin-top: 2rem;
}

/* hubble-container */
.hubble-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-top: 3rem;
  margin-top: 20%;
}

.hubble-container img {
  width: 40%;
  transform: scale(1.2);
  margin-bottom: 2rem;
}

.hubble-container .hubble-rectangle {
  width: 45%;
  margin: 0 auto;
  background-color: var(--orange-color);
  color: var(--white-color);
  /* padding: 3rem 0; */
  border-radius: 15px;
  min-width: 450px;
 height: 75vh;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-top: 4rem;
}

.hubble-rectangle-content {
 width: 80%;
 margin: 0 auto;
}

.hubble-container .hubble-rectangle h3 {
  font-size: 2.4rem;
  font-weight: 500;
  text-align: inherit;
  margin-bottom: 1rem;
}

.hubble-container .hubble-rectangle p {
   font-size: 1.6rem;
  line-height: 2.8rem;
}

.container-links .work-links img {
  background-color: #fb1488;
}

.amazing-rectangle-main-container.container-2 {
  transform: translateX(0);
  margin-top: 15%;
}


.contact-lens-rectangle {
  background-color: var(--violet-color);
  color: var(--white-color);
  border-radius: 15px;
  width: 50%;
  min-width: 400px;
  max-height: 70vh;
  margin: 0 auto;
  border-radius: 15px;
  padding: 3rem 0 0 0;
  transform: translateX(10%);
  display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 padding-top: 4rem;
}

.contact-lens-rectangle-content {
  width: 80%;
  margin: 0 auto;
}

.contact-lens-rectangle h3 {
  font-size: 2.5rem;
  text-align: inherit;
  font-weight: 500;
  text-transform: capitalize;
  margin-bottom: 1rem;
}

.contact-lens-rectangle p {
  font-size: 1.7rem;
  line-height: 3rem;
}

.amazing-rectangle-main-container .contact-lens-img {
  transform: scale(1);
}

.hubble-rectangle.hubble-rectangle-2 {
  background-color: var(--green-color);
 }

/* subscribe section */
.subscribe-section {
  height: 100vh;
  min-width: 450px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.subscribe-section h3 {
  font-size: 4rem;
  text-transform: capitalize;
  font-weight: 600;
  margin-bottom: 1rem;
}
.subscribe-section p {
  width: 40%;
  margin: 0 auto;
  font-size: 2.2rem;
  text-align: center;
  padding-top: 1rem;
  font-weight: 500;
}
.subscribe-section div {
  background-color: rgba(216, 216, 216, 0.39);
  width: 80%;
  margin: 0 auto;
  height: 90px;
  margin-top: 7rem;
  display: flex;
  justify-content: flex-end;
}
.subscribe-section div button {
  height: 100%;
  background-color: var(--blue-color);
  color: var(--white-color);
  font-size: 2.4rem;
  border-radius: 5px;
  border: none;
  width: 24%;
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.subscribe-section div button i {
  font-size: 2.5rem;
  padding-left: 3rem
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  width: 85%;
  margin: 0 auto;
  justify-content: space-between;
  /* padding: 3rem; */
}
.footer-content img {
  width: 170px;
  min-width: 100px;
  height: 50px;
  min-height: 30px;
  margin-right: 10px;
}
.footer-content table {
  width: 65%;
  min-width: 450px;
  text-transform: capitalize;
}

.footer-content table tr th {
  text-align: left;
  padding-bottom: 2rem;
  font-size: 2.2rem;
}

.footer-content table tr td {
  font-size: 1.8rem;
  padding: 2px;
}

.footer-content table tr td .fa-facebook-f {
  color: blue;
  font-size: 2rem;
  margin-right: 1rem;
}
.footer-content table tr td .fa-twitter {
  color: var(--header-btn-color);
  font-size: 2rem;
  margin-right: 1rem;
}
.footer-content table tr td .fa-instagram {
  color: red;
  font-size: 2rem;
  margin-right: 1rem;
}
.footer-content table tr td .fa-twitter .footer-img {
  padding-top: 5rem;
}

.footer-img img {
  margin-top: 15%;
  width: 100vw
  }
