* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --primary-color: #20225e;
  --secondary-color: #151749;
  --line-color: #d3d5f1;
  --color-white: #ffffff;
  --light-color: #eef3f9;
  font-family: Helvetica, sans-serif;
}

body {
  background-color: var(--light-color);
  color: var(--secondary-color);
}

.main-container {
  background-color: var(--color-white);
  max-width: 625px;
  width: 80%;
  margin: auto;
  margin-top: 50px;
  border-radius: 15px 15px 0 0;
}

.head-container {
  border-radius: 15px 15px 0 0;
  background-color: var(--primary-color);
  padding: 70px;
  color: var(--color-white);
  text-align: center;
}

.form-container {
  padding: 150px;
}

.form-field {
  margin-bottom: 40px;
}
label {
  display: block;
  font-weight: bold;
  font-size: 12px;
}

input {
  width: 100%;
  border: none;
  padding: 7px 0;
  color: var(--secondary-color);
  letter-spacing: 1.3px;
  border-bottom: 1px solid var(--line-color);
}

input:focus {
  outline: none;
}

.signup-btn {
  margin-top: 30px;
  margin-left: 13%;
  padding: 27px 93px 28px;
  background-color: var(--primary-color);
  color: var(--color-white);
  border-radius: 38.5px;
  border: none;
  box-shadow: 0 20px 20px -16px rgba(2, 6, 127, 0.35);
  text-align: center;
  font-weight: bold;
  letter-spacing: 1px;
  font-size: 18px;
  cursor: pointer;
}

.signup-btn:focus {
  outline: none;
}
