* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --body-bg-color: #111;
  --square-bg-color: #1d1d1d;
}

body {
  background-color: var(--body-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 40%;
  min-width: 400px;
}

.square {
  background-color: var(--square-bg-color);
  box-shadow: 0 0 2px #000;
  height: 16px;
  width: 16px;
  margin: 2px;
  transition: 2s ease;
}

.square:hover {
  transition-duration: 0s;
}
