@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100;200;300;400;500;600;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --background-color: #f3f2fd;
  --white-color: #ffffff;
  --box-color: #ba91e9;
  --box-color-2: #6d58ce;
  --button-color: #6e59ce;
  --border-color: #e4e8ee;
}

body {
  background-color: var(--background-color);
  font-family: "Roboto Slab", serif;
  font-size: 10px;
 }

.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: auto;
  width: 800px;
  max-width: 100%;
  background-color: var(--white-color);
  box-shadow: 2px 3px 10px rgba(0, 0, 0, 0.3);
  margin-top: 30px;
  border-radius: 10px;
}

.container-1 {
  flex: 1;
  background-image: linear-gradient(
    149deg,
    var(--box-color),
    var(--box-color-2)
  );
  border-radius: 5px;
  padding: 50px 0 50 10;
  margin: 30px;
  min-height: 80vh;
  min-width: 300px;
  width: 50%;
  color: #ffffff;
}


.icon-style {
  padding: 2px;
  font-size: 14px;
  font-weight: 100;
}

.box-elements {
  margin: 30px 30px;
}

h2 {
  font-size: 14px;
  margin: 20px 0;
}

.container-1 p{
  margin: 10px 0 20px 0;
  font-size: 14px;
}

/* container-2 */
.container-2 {
  flex: 1;
  margin-left: 40px;
  color: #c3c4c9;
  min-width: 300px;
  max-width: 400px;
  margin: 30px;
}

.create-account-heading{
  font-size: 25px;
}

.input {
  padding: 10px;
  width: 260px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  margin-top: 10px;
}

.submit-btn {
  background-color: var(--button-color);
  border-radius: 5px;
  width: 260px;
  padding: 12px;
  cursor: pointer;
  border: none;
  margin-top: 30px;
  margin-left: -2px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #ffffff;
}

.submit-btn:hover{
  background-image: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
}

.submit-btn:active{
  transform: scale(0.99);
}

label {
  display: block;
  margin-top: 25px;
  line-height: 19px;
  font-size: 15px;
  font-weight: bold;
}

