@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
}

.carousel {
  width: 500px;
  height: 50%;
  margin: auto;
  overflow: hidden;
}

.img-container {
  display: flex;
  /* overflow: hidden; */
  transform: translateX(0);
  transition: transform 0.5s ease-in-out;
  background-color: seagreen;
}

.imgs {
  display: flex;
  /* overflow: hidden; */
}

img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.btn {
  background-color: rebeccapurple;
  color: #fff;
  border: none;
  width: 49.6%;
  padding: 10px 0;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  cursor: pointer;
  opacity: 0.9;
}
