@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,400;1,600;1,700;1,800&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --main-color: #222;
  --white-color: #fff;
  --links-hover-color: #c0392b;
  --content-para-color: #555;
}

body {
  font-family: "Open Sans", Arial, Helvetica, sans-serif;
  color: var(--main-color);
}

.header-section {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: ;
  justify-content: space-between;
  align-items: center;
  padding: 1.2rem;
  background-color: var(--main-color);
}

.my-logo {
  flex: 2;
  font-size: 1.6rem;
  letter-spacing: -1px;
}

ul {
  list-style-type: none;
  display: flex;
  flex: 0.8;
  justify-content: space-between;
}

.my-logo {
  flex: 2;
  font-size: 1.6rem;
  letter-spacing: -1px;
}

a {
  text-decoration: none;
  color: var(--white-color);
  font-weight: 500;
}

a:hover {
  color: var(--links-hover-color);
  font-weight: 700;
}

.home {
  color: var(--links-hover-color);
  font-weight: 700;
}
.hero {
  background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  color: var(--white-color);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: -2;
  position: relative;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.hero h1,
p {
  padding: 0.6rem;
}

.hero h1 {
  font-weight: 600;
  font-size: 3rem;
  letter-spacing: -3px;
  text-transform: capitalize;
}

.hero p {
  font-size: 1.3rem;
}

.content {
  padding: 1.3rem 0 2rem 0;
}

.content h2 {
  font-size: 1.7rem;
  font-weight: 600;
  letter-spacing: -1px;
  padding: 0.7rem 0;
}

.content p {
  line-height: 2rem;
  padding: 0;
  font-size: 1rem;
  letter-spacing: 1.5px;
  color: var(--content-para-color);
}

@media screen and (max-width: 500px) {
  .header-section {
    font-size: 10px;
    padding: 15px 10px;
  }

  ul {
    flex: 1.7;
    font-size: 9px;
  }

  .header-section h1 {
    font-size: 1rem;
  }

  .hero {
    height: 65vh;
  }

  .hero h1 {
    font-size: 1.5rem;
    letter-spacing: -1px;
  }

  .hero p {
    font-size: 0.8rem;
  }

  .hero h1,
  p {
    padding: 5px;
  }

  .content {
    overflow: auto;
    height: 145vh;
  }

  .content h2 {
    padding: 0;
    font-size: 1.5rem;
  }

  .content p {
    font-size: 12px;
    line-height: 1.5rem;
  }
}
