@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import "https://fonts.googleapis.com/css?family=Lato:700,400";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* projects-section */

#projects {
  max-width: 1200;
  padding: 2rem 0;
}

.projects-item-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-family: "Noto Sans", sans-serif;
}

.project-item {
  width: 25%;
  background-color: #fff;
  box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
  height: 300px;
  margin: 1rem;
  font-weight: bold;
  border-radius: 10px 10px 0 0;
  position: relative;
}

.project-item .project-img {
  background-image: url(https://images.unsplash.com/photo-1496181133206-80ce9b88a853?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2102&q=80);
  width: 100%;
  /* background-image: url(./project-bg.svg); */
  background-size: cover;
  background-repeat: no-repeat;
  height: 50%;
  border-radius: 10px 10px 0 0;
}

.project-item .project-info {
  padding: 1rem 2rem;
  color: #333;
  display: flex;
  flex-direction: column;
}

.project-item .project-info h4 {
  text-align: center;
  font-size: 1.2rem;
}

.project-item .project-info p {
  font-size: 10px;
  text-align: center;
  padding-top: 8px;
}

.project-item .project-info button {
  width: 80%;
  height: 40px;
  margin: auto;
  margin-top: 15px;
  border-radius: 5px;
  padding: 10px 25px;
  background: transparent;
  cursor: pointer;
  transition: all 0.3s ease;
  box-shadow: inset 2px 2px 2px 0px rgba(255, 255, 255, 0.5),
    7px 7px 20px 0px rgba(0, 0, 0, 0.1), 4px 4px 5px 0px rgba(0, 0, 0, 0.1);
  outline: none;
  background-image: linear-gradient(to top, #09203f 0%, #537895 100%);
  border: none;
  overflow: hidden;
  font-family: "league-gothic-italic", "Lato", sans serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.2;
}

.project-item .project-info button:hover {
  transform: scale(0.995);
}

.project-item .project-info button a {
  color: #fff;
}

#about {
  max-width: 1200px;
  padding: 10rem 0;
}

#about .about {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.col-left {
  border: 8px solid crimson;
  margin-left: 3rem;
  max-width: 100%;
}

.col-left .about-img {
  max-width: 100%;
  width: 240px;
  max-height: 100%;
  height: 360px;
  transform: translate(2rem, -2rem);
}

.col-right {
  margin-left: 4rem;
  font-size: 13px;
  margin-right: 3rem;
}

.col-right .section-title {
  font-size: 3.7rem;
  font-weight: 300;
  text-transform: uppercase;
  margin-top: -2.5rem;
  text-align: left;
}

.col-right h2 {
  font-weight: 400;
  text-transform: capitalize;
  font-size: 1.2rem;
  letter-spacing: 2px;
  line-height: 2rem;
}

.col-right p {
  line-height: 2rem;
}

.col-right button {
  padding: 0.7rem 2rem;
  background-color: transparent;
  border: 2px solid crimson;
  margin: 2rem 0;
}

.col-right button a {
  color: black;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 2px;
  cursor: pointer;
}

.col-right button:hover {
  background-color: crimson;
}

.col-right button:hover a {
  color: #fff;
}
/* contact section */
#contact .contact {
  max-width: 1200px;
  margin: 0 auto;
}

.section-title {
  font-size: 3.7rem;
  font-weight: 300;
  padding-bottom: 1rem;
  text-transform: uppercase;
  text-align: center;
}

.contact-items-container {
  display: flex;
  justify-content: space-evenly;
}

.contact-item {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 18px 0 #0000002c;
  transition: 0.3s ease box-shadow;
  border-radius: 10px;
  padding: 2rem 0;
}

.contact-item .icon {
  width: 70px;
  height: 70px;
  margin-right: 20px;
}

.contact-info h1 {
  font-weight: 500;
  padding: 10px 0;
}

.contact-info h2 {
  font-weight: 400;
  font-size: 12px;
  max-width: 150px;
  margin: auto;
}
