@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --form-color: rgba(0, 0, 0, 0.4);
  --body-color: steelblue;
}

body {
    background-color: var(--body-color);
    color: #fff;
    font-family: "Muli", Arial, Helvetica, sans-serif;
    height: 90vh;
}

.container {
    background-color: var(--form-color);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 35%;
    margin: auto;
    padding: 20px 40px;
    border-radius: 5px;
    margin-top: 18px;

}

.container h1 {
    text-align: center;
    margin-top: 20px;
}

 label {
     display: block;
     position: absolute;
     top: 15px;
     left: 0;
     cursor: default;
}


a {
    text-decoration: none;
    color: lightblue;
}

input {
    background-color: transparent;
    border:0;
    display: block;
    border-bottom: 2px solid white;
    width: 100%;
    padding: 15px 0;
}


.btn:active {
    transform: scale(0.98);
}

.btn {
    width: 300px;
    border-radius: 5px;
    background-color: lightblue;
    padding: 15px;
    border: none;
    cursor: pointer;
    margin: 35px 0;
    font-size: 16px;
}

.text {
    margin-bottom: 15px;
}

.btn:focus {
    outline: 0;
}
.form-control {
    position: relative;
    width: 300px;
    margin: 20px 0 40px;
}

.form-control label span {
    display: inline-block;
    font-size: 18px;
    min-width: 5px;
    transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }
  .form-control input:focus,
.form-control input:valid {
  outline: 0;
  border-bottom-color: lightblue;
}

  .form-control input:focus + label span,
  .form-control input:valid + label span {
    color: lightblue;
    transform: translateY(-30px);
  }

  /* .form-control label span,
  .form-control label span {
    color: lightblue;
    transform: translateY(-30px);
  } */