
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    --primary-color: #ffc7c7;
    --secondary-color: #272749;
    --mute-color: #a2a0b4;
    --light-color: #888491;
    --shade-color: #FFCFDF;
    --pink-color: #FFE2E2;
    font-family: 'Times New Roman', Times, serif;  
}

body{
   background-image: linear-gradient(45deg, #ff9a9e 0%, #fad0c4 99%, #fad0c4 100%);
}

.sub-container {
    width: 800px;
    min-width: 500px;
    max-width: 100vw;
    margin: auto;
    border: 2px solid;
    padding: 0 16px;
    background-color: #fff;
  }

.search-container {
    margin-top: 40px;
    background-color: #ddd;
    text-align: center;
    padding: 10px 0;
}

.search-container input {
    margin-top: 5px;
    padding: 8px;
    width: 300px;
    border-radius: 3px;
    outline: none;
    border:none;
}

.search-container input:focus{
    outline: -webkit-focus-ring-color auto 5px;
}
.box-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
}

.box, .link-box {
    margin-right: 10px;
    border-radius: 5px;
    padding: 20px;
    flex: 1;
    position: relative;
    min-height: 200px;
 }

.box:last-child, .box:last-child {
    margin-right: 0;
}
.box-1 {
    background-color: var(--primary-color);
    min-width: 200px;  
    margin-top: 10px;
}

.box-2 {
    background-color: var(--pink-color);
    min-width: 200px;
    margin-top: 10px;
}

.box-3 {
    background-color: var(--shade-color);
    min-width: 250px;
    margin-top: 10px;
}
 
.box-container p {
    margin-top: 15px;
    line-height: 20px;
}

.btn {
    border-radius: 10px;
    padding: 10px 20px;
    margin-top: 15px;
    margin-bottom: 10px;
    border: 1px solid gray;
    background-color: transparent;
    position: absolute;
    left: 20px;
    bottom: 20px;
    cursor: pointer;
}

.btn:active{
    transform: translate(0.5px);
}

.btn:hover{
    background-color: #fff;
}

.links-container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 30px;
}

.links-container a {
    text-decoration: none;
    color: red;
    
}

.links-container p {
    margin-top: 20px;
}

.links {
    background-color: whitesmoke; 
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    padding: 10px 20px;
}

.links:hover{
    background-color: #fff;
}

.links:active{
    transform: translate(0.5px);
}

.link-box-1{
    margin-top: 10px;
    min-width: 250px;
}

.link-box-1{
    margin-top: 10px;
    min-width: 250px;
}

.link-box-1{
    margin-top: 10px;
    min-width: 250px;
}
