@import url(https://fonts.googleapis.com/css?family=Raleway:100,400,700);

* {
  box-sizing: border-box;
}

body {
  font-family: "Raleway", Open Sans, Droid Sans, Roboto, arial, sans-serif;
  background-image: url("https://lh4.googleusercontent.com/-3eBjuQpOGFw/U47yh_-OycI/AAAAAAAAI2U/uaU5pK49N1w/s1600/normal.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

.blurred-bg {
  background-repeat: no-repeat;
  background-size: cover;
  text-align: center;
  background-attachment: fixed;
  background-image: linear-gradient( 
        0deg,
        rgba(255, 255, 255, 0.2),
        rgba(255, 255, 255, 0.2)
      ),
      url("https://lh3.googleusercontent.com/-m8TxQMObg6c/U474EWu7Y9I/AAAAAAAAI2k/xkRGoIEC1iU/s1600/blur.jpg"); 
}


.box {
    width: 500px;
    height: 300px;
    position: fixed;
    border-radius: 5px;
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    padding: 20px;
    text-align: center;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    display: flex;
    transition: box-shadow .3s ease;  
    margin-left: 30%;
    margin-top: 20%;
    opacity: 1;
}

.box .content {
   margin: auto;
}
  
h1, h2, a, p {
    color: white;
    font-weight: 100;
}

.tinted h1, .tinted h2, .tinted a, .tinted p {
    color: black;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.2);
}

h2 {
    font-size: 14px;
}
  
  p {
    margin: 20px;
}

p.related {
    text-transform: uppercase;
    font-weight: 700;
    color: #444;
}

  p.related a {
    font-weight: 700;
    text-decoration: none;
}

.iklan {
  position: fixed;
  right: 10px;
  bottom: 10px;
  background: white;
  width: 230px;
  padding: 20px;
}

.iklan p {
    margin: 0 0 15px;
    line-height: 1.4;
    color: #333;
}

.iklan a {
    background-color: #ff4757;
    color: white;
    display: inline-block;
    padding: 10px 20px;
    border-radius: 3px;
    text-decoration: none;
    font-size: 14px;
}
  
p.related a:hover {
  text-decoration: underline;
}



  