@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --white-color: #fff;
  --toggle-color: #9fa4a8;
}

body {
  font-family: "Muli", sans-serif;
  background-color: #f0f0f0;
}

.main-heading {
  margin: 50px 0 30px;
  text-align: center;
}

.faq-container {
  width: 56%;
  margin: auto;
}

.faq {
  background-color: transparent;
  border: 1px solid var(--toggle-color);
  border-radius: 10px;
  margin-bottom: 20px;
  position: relative;
  overflow: hidden;
  padding: 30px;
}

.faq-text {
  margin-top: 25px;
  display: none;
}

.faq.active {
  background-color: var(--white-color);
  padding: 30px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.1);
}

.faq.active .faq-text {
  display: block;
}

.faq-toggle {
  background-color: transparent;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  border: none;
  position: absolute;
  right: 30px;
  top: 30px;
  color: black;
  text-align: center;
  font-weight: bold;
}

.faq-toggle:focus {
  outline: none;
}

.faq.active .faq-toggle {
  background-color: var(--toggle-color);
  color: var(--white-color);
  font-weight: bold;
}

.faq.active .faq-toggle .fa-times {
  display: block;
}

.faq.active .faq-toggle .fa-chevron-down {
  display: none;
}

.faq-toggle .fa-times {
  display: none;
}

.faq.active::before,
.faq.active::after {
  content: "\f075";
  font-family: "Font Awesome 5 Free";
  color: #2ecc71;
  font-size: 7rem;
  position: absolute;
  opacity: 0.2;
  top: 20px;
  left: 20px;
}

.faq.active::before {
  color: #3498db;
  top: -10px;
  left: -30px;
  transform: rotateY(180deg);
}

@media screen and(max-width: 550px) {
  .faq-container {
    width: 100vw;
  }

  .main-heading {
    text-align: left;
  }
}
