@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --body-bg-color: #f5f5f5;
  --violet-color: #c67ace;
  --white-color: #fff;
}

body {
  background-color: var(--body-bg-color);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

canvas {
  border: 2px solid var(--violet-color);
}

.toolbox {
  background-color: var(--violet-color);
  border: 1px solid violet;
  display: flex;
  width: 75%;
  padding: 1rem;
}

.toolbox * {
  background-color: var(--white-color);
  border: none;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  cursor: pointer;
  height: 50px;
  width: 50px;
  margin: 4px;
}

.toolbox > *:last-child {
  margin-left: auto;
}
