@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --body-bg-color: #2a2a72;
  --white-color: #fff;
  --input-form-bg-color: #4c2885;
  --placeholder-color: #bbb;
  --white-color: #eee;
  --blue-color: #212a72;
}

body {
  background-color: var(--body-bg-color);
  color: var(--white-color);
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

.user-form {
  width: 100%;
  /* max-width: 700px; */
}

input {
  width: 60%;
  margin: auto;
  display: block;
  background-color: var(--input-form-bg-color);
  border: none;
  border-radius: 10px;
  color: var(--white-color);
  padding: 1rem 15rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

input::placeholder {
  color: var(--placeholder-color);
}

input:focus {
  outline: 0;
}

.card {
  max-width: 800px;
  background-color: var(--input-form-bg-color);
  border-radius: 20px;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid var(--body-bg-color);
  height: 150px;
  width: 150px;
}

.user-info {
  color: #eee;
  margin-left: 2rem;
}

/* .user-info h2 {
  margin-top: 0;
} */

.user-info p {
  padding: 1rem 0 0.8rem 0;
}

.user-info ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  max-width: 400px;
}

.user-info ul li {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}

.user-info ul li strong {
  font-size: 0.9rem;
  margin-left: 0.5rem;
}

.repo {
  text-decoration: none;
  color: var(--white-color);
  font-size: 0.7rem;
  padding: 0.25rem 0.5rem;
  margin-right: 0.5rem;
  margin-bottom: 0.5rem;
  display: inline-block;
  background-color: var(--blue-color);
}

@media screen and(max-width: 500px) {
  .card {
    flex-direction: column;
    align-items: center;
  }

  .user-form {
    max-width: 400px;
  }
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: #4c2885;
  border: none;
  border-radius: 10px;
  color: #fff;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
  box-shadow: 0 5px 10px rgba(154, 160, 185, 0.05),
    0 15px 40px rgba(0, 0, 0, 0.1);
}

.user-form input::placeholder {
  color: #bbb;
}

.user-form input:focus {
  outline: none;
}
