@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100;200&display=swap");
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  --white-color: #fff;
  --blur-bg: rgba(255, 255, 255, 0.36);
}

body {
  background-color: #151419;
  font-family: "Fira+Sans", Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

.header-section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin: auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.55);
  padding-bottom: 8px;
}

.ui-logo {
  padding: 13px 11px;
  background-image: linear-gradient(to bottom, #3c59f0, #1830ae);
  color: var(--white-color);
  border: none;
  margin-left: 10%;
  font-family: "Antonio", Arial, Helvetica, sans-serif;
  font-size: 20px;
  font-weight: bold;
}

.header-links-container {
  display: flex;
  flex: 0.5;
  justify-content: space-evenly;
  align-items: center;
}

.header-links-container li {
  list-style-type: none;
}

.header-links-container li a {
  text-decoration: none;
  color: var(--blur-bg);
  font-size: 12px;
}

.header-links-container li a:hover {
  color: var(--white-color);
}

.search-icon {
  padding: 0 8px;
  margin-top: 15px;
  text-align: center;
  color: var(--white-color);
  font-size: 10px;
  border: none;
  background-color: #292a2c;
  height: 25px;
  border-radius: 3px;
  margin-right: 10%;
  cursor: pointer;
}

button:focus {
  outline: none;
}

/* middle section */

.middle-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  height: 200px;
  box-shadow: 16px 0 0 8px rgba(0, 0, 0, 0.55);
}

.center-movie-left {
  background-image: url(/assets/emily-morter-1DGD2_CKCbo-unsplash.jpg);
  width: 11%;
  background-size: cover;
  height: 200px;
  border-radius: 5px;
}

.movie-center {
  background-image: url(/assets/background-movie-center.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: 75%;
  border-radius: 5px;
  height: 200px;
}

.movie-center-content {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;
  width: 200px;
  font-size: 10px;
  line-height: 15px;
}

.movie-center-content h3 {
  color: var(--white-color);
  text-align: left;
  font-size: 18px;
  padding: 15px 0;
}

.movie-center-content p {
  color: var(--blur-bg);
}

.center-movie-right {
  background-image: url(/assets/gallery-1.jpg);
  background-size: cover;
  width: 11%;
  height: 200px;
  border-radius: 5px;
}

.arrow {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.line-section {
  width: 80%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}

.line-section button {
  background-color: var(--blur-bg);
  color: var(--white-color);
  font-size: 10px;
  padding: 5px 10px;
  border-radius: 3px;
  border: none;
}

.line-section button i {
  margin-left: 15px;
  flex: 0.1;
}

.line {
  /* width: 500px; */
  color: #fff;
  flex: 7;
}

.option-1 {
  flex: 0.1;
  width: 50px;
}

.box-shadow {
  flex: 0.1;
  width: 50px;
}

.popular-right-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  text-transform: uppercase;
  font-size: 10px;
  color: var(--white-color);
  font-weight: 400;
}

.popular-right-container p {
  font-size: 8px;
  font-weight: bold;
}

.more-movies {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: auto;
  padding: 20px;
}

.movie-1 {
  width: 24%;
  height: 100px;
  border-radius: 3px;
}

.movie-2 {
  width: 24%;
  border-radius: 3px;
}

.movie-3 {
  width: 24%;
  border-radius: 3px;
  height: 112px;
}

.movie-4 {
  width: 24%;
  border-radius: 3px;
}
